.navbar {
    background-color: #222;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-item.active a {
    background-color: #555;
  }
  
  .nav-item:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown-toggle {
    position: relative;
  }
  
  .dropdown-toggle::after {
    content: '\25BE';
    margin-left: 5px;
  }
  
  .dropdown-menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #555;
  }
  .dropdown-button {
    position: relative;
  }
  
  .dropdown-button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid rgba(255, 255, 255, 0.8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M23 7l-10 10 10 10"/></svg>');
  }
  
  .navbar-toggler.active {
    color: #f8f9fa;
  }
  